body{
    margin: 0%;
    padding: 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.av{
    background-color: white;
    text-align: left;
    padding: 0.75%;
}
.av a{
    padding:1.5%;
    color:#8e7347;
    text-decoration: none;
    font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
}
.av a:hover{
    font-size: 110%;
}
.av button{
    padding-top:5px;
    padding-bottom:5px;
    margin-right: 10%;
    border-radius: 10%;
    font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
    color:#8e7347;;
    float:right;
}
.av button:hover{
    background-color:#8e7347;;
}
.av button a:hover{
    color:white;
}
.av img{
    padding-left: 1%;
    padding-right: 5%;
}
.iconhead{
    margin-top: 1%;
    font-size: 200%;
    font-weight: 100;
    text-align: center;
}
.iconhead span{
    border-bottom: solid 3px #8e7347;;
    padding-bottom: 5px;
}
.iconbox{
    padding-top:30px;
    margin-left: 17%;
    margin-right: 20%;
}
.iconbox td{
    padding-left: 65px;
    padding-right:65px;
}
.popdes{
    text-align: center;
}
.popdes{
    margin-top: 1%;
    font-size: 200%;
    font-weight: 100;
    text-align: center;
    margin-bottom: 4%;
}
.popdes span{
    border-bottom: solid 3px #8e7347;;
    padding-bottom: 5px;
}
.box1{
    float:left;
    font-size: larger;
    margin-top: 1%;
    box-sizing: content-box;
    color:#8e7347;
    background-color: white;
    padding-left:1%;
    padding-right:1%;
    padding-top:1%;
    padding-bottom:1%;
    width:20%;
    height:max-content;
    text-align: center;
    border-style: double;
    margin-left:4.5%;
    margin-right:4.5%;
 }
  .box1:hover{
    transform: scale(1.1);
    background-color: rgba(218, 165, 32, 0.24);
 } 
 .map img{
    border:solid 3px#8e7347;
    padding: 5px;
    margin:2% 0% 3% 3%;
    float:left;
    position: fixed;
 }
 .txt{
    width: 52%;
    height:81%;
    float:right;
    margin:2% 4% 1.8% 2%;
    border:solid 2px #8e7347;
    overflow:auto;
 }
 .txtbox{
    margin:0.5% 1% 0.5% 1%;
 }
 .txtbox span{
    font-size: x-large;
    font-weight: 400;
  vertical-align:80%;
    text-align:left;
 }
 .txtbox img{
    margin-right:2%;
 }
 .h{
    font-weight:200;
    font-size:350%;
    text-align: center;
 }
 .m{
    font-size:150%;
    margin-left:20%;
    margin-right:20%;
    text-align: center;
 }
 .sr{
    margin:0% 3% 0% 3%;
 }
.isr{
    margin:2% 3% 2% 3%;
    float:left;
    width:43%;
    border:solid 2px #8e7347;
}
.chead{
    font-weight: bolder;
}
.isr p{
    margin-left:3%;
    font-size:100%;
    text-align:left;
}
.isr div{
    text-align:right;
    padding-right:4%;
    padding-bottom:2%;
}
.isr button{
    background-color: #8e73476f;
}
.signinpage{
    margin:1% 15% 1% 15%;
    font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
}

.signinnav a{
    text-decoration:none;
    color:black;
    font-size:0.8em;
}

.links a{
    float:right;
    padding-left:2%;
}

 .signinnav img{
    width:5%;
 }

 .signinpage h2,h3{
    color:rgb(113, 29, 29);
 }

 .form{
    height:360px;
    width:640px;
    border:solid 1px rgb(159, 159, 159);
    padding:0% 1% 0% 1%;
 }

 .form input{
    width:100%;
    height:15%;
    padding:1%;
 }

 .form button{
    float: right;
    background-color: #d1d1d1; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 }