/* CSS starts here*/


/* CSS of common page heading starts here */

body{
    margin: 0%;
    padding: 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width:900px;
}
.av{
    background-color: white;
    text-align: left;
    padding: 0.75%;
    margin-bottom:1%;
}
.av a{
    padding:1.5%;
    color:#8e7347;
    text-decoration: none;
    font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
}
.av a:hover{
    font-size: 110%;
    transition-duration: 0.4s;
    color:#635135;
}
.av button{
    padding-top:5px;
    padding-bottom:5px;
    margin-right: 10%;
    border-radius: 10%;
    font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
    color:#8e7347;
    float:right;
}
.av button:hover{
    background-color:#8e7347;
}
.av button a:hover{
    color:white;
}
.av img{
    padding-left: 1%;
    padding-right: 5%;
}
 /* CSS of common page heading ends here */


 /* CSS of home page starts here */
.iconhead{
    margin-top: 1%;
    font-size: 200%;
    font-weight: 100;
    text-align: center;
}
.iconhead span{
    border-bottom: solid 3px #8e7347;
    padding-bottom: 5px;
}
.iconbox{
   margin: 0% 15% 12% 15%;
    width:70%;
}
.iconsin{
   width:25%;
   float:left;
   margin:5% 0% 5% 0%;
}
.iconsin img{
   padding:0% 0% 0% 20%;
}
.iconsin p{
   padding:0% 0% 0% 15%;
}
.popdes{
    text-align: center;
}
.popdes{
    margin-top: 1%;
    font-size: 200%;
    font-weight: 100;
    text-align: center;
    margin-bottom: 4%;
}
.popdes span{
    border-bottom: solid 3px #8e7347;;
    padding-bottom: 5px;
}
.box1{
    float:left;
    font-size: larger;
    margin-top: 1%;
    box-sizing: content-box;
    color:#8e7347;
    background-color: white;
    padding:1%;
    width:20%;
    height:max-content;
    text-align: center;
    border-style: double;
    margin-left:4.5%;
    margin-right:4.5%;
 }
 .overbox{
   margin:0% 0% 45% 2%;
 }
  .box1:hover{
    transform: scale(1.1);
    background-color: rgba(218, 165, 32, 0.24);
 } 
 /* CSS of home page ends here */


 /* CSS of Our hotels page starts here */
 .map img{
    border:solid 3px#8e7347;
    padding: 5px;
    margin:2% 0% 3% 3%;
    float:left;
    position: fixed;
    width:35%;
   height:80%;
   min-width:350px;
   min-height:380px;
   max-height:900px;
 }
 .txt{
    width: 52%;
    height:81%;
    float:right;
    margin:2% 4% 1.8% 2%;
    border:solid 2px #8e7347;
    overflow:auto;
    min-width:350px;
   min-height:380px;
   max-height:900px;
 }
 .txtbox{
    margin:0.5% 1% 0.5% 1%;
 }
 .txtbox span{
    font-size: x-large;
    font-weight: 400;
  vertical-align:80%;
    text-align:left;
 }
 .txtbox img{
    margin-right:2%;
    min-width:88px;
   min-height:55px;
 }
  /* CSS of Our hotels page ends here */


  /* CSS of dining starts here*/
  .bg img{
   max-height: 1000px;
  }
 .h{
    font-weight:200;
    font-size:350%;
    text-align: center;
 }
 .m{
    font-size:150%;
    margin-left:20%;
    margin-right:20%;
    text-align: center;
 }
 .sr{
    margin:0% 3% 0% 3%;
 }
.isr{
    margin:2% 3% 2% 3%;
    float:left;
    width:43%;
    border:solid 5px #8e7347;
    max-height:900px;
    min-height:610px; 
}
.chead{
    font-weight: bolder;
}
.isr p{
    margin-left:3%;
    font-size:100%;
    text-align:left;
}
.isr div{
    text-align:right;
    padding-right:4%;
    padding-bottom:2%;
    height:10px;
}
.isr button{
    background-color: #8e73476f;
}
  /* CSS of dining ends here*/


    /* CSS of signin starts here*/
.signinpage{
    margin:1% 15% 1% 15%;
    
    font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
}
.signinnav a{
    text-decoration:none;
    color:black;
    font-size:0.8em;
}
.links a{
    float:right;
    padding-left:2%;
}
 .signinnav img{
    width:5%;
 }
 .signinpage h2,h3{
    color:rgb(113, 29, 29);
 }
 .signfooter{
   text-align:center
 }
 .signfooter a{
   padding:1% 1% 1% 1%;
 }
 .form{
   height: fit-content;
    width:640px;
    border:solid 1px rgb(159, 159, 159);
    padding:0% 1% 0% 1%;
 }
 .form input{
    width:100%;
    /* height:15%; */
    padding:1%;
 }
 .form button{
    float: right;
    background-color: #d1d1d1; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 }
   /* CSS of signin ends here*/


     /* CSS of membership starts here*/
 .rewardcard{
    padding-top:5%;
    text-align:center;
    margin-left:10%;
    margin-right:10%;
    padding-bottom:10%;
    margin-bottom:30%;
    width:80%;
 }
 .rewardcard span{
    font-size: 35px;
    font-weight: 500;
    text-align:center;
 }
 .ultxt{
    padding-bottom: 5px;
    text-align:center;
    border-bottom:solid 5px #8e7347;
 }
 .rcards{
   padding:0% 0% 0% 0%;
    font-size:x-large;
    font-weight: bold;
    color:#8e7347;
    width:50%;
    height:75%;
   min-height:410px;
   max-height:600px;
    float:left;
    /* border:solid 1px #8e7347; */
 }
 .bcards{
   padding:0% 0% 0% 0%;
    font-size:x-large;
    font-weight: bold;
    color:#8e7347;
    width:50%;
    height:75%;
   min-height:410px;
   max-height:600px;
    float:left;
    /* border:solid 1px #8e7347; */
 }
 .rewardcard button{
    background-color: #8e7347;
    padding:1%;
    font-size: large;
 }
 .rewardcard button:hover{
    transform: scale(1.1);
 }
 .epiprev{
    text-align: center;
    margin-left:10%;
    margin-top:5%;
    margin-right:10%;
    margin-bottom:34%;
 }
 .epicard{
    width:20%;
    min-height:500px;
    float:left;
    margin:1% 2.5% 1% 2.5%;
 }
 .epicard div{
    text-align: left;
 }
 .epifont{
    font-size:large;
    font-weight: bold;
 }
 .vouchers{
    margin:0% 10% 0% 10%;
 }
 .vouchcard{
    width:20%;
    float:left;
    min-height:500px;
    margin:1% 2.5% 1% 2.5%;
 }
    /* CSS of membership ends here*/


     /* CSS of about starts here*/
 .himg{
   width:100%;
   height:80%;
   padding:1% 0% 2% 0%;
 }
 .reser{
   margin:0% 8% 10% 8%;
 }
 .reser h2{
   font-size: 300%;
   text-align:center;
 }
 .reser p{
   font-size: medium;
 }
 .reser table{
   text-align:center;
   width:100%;
   height:80%;
 }
   /* CSS of about ends here*/


     /* CSS ends here*/